Practice/Test1/TEST1_Client/xml-resources/web-service-references/WSInterface/wsdl/localhost_8080/WSInterface.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://test1_server.mycompany.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="WSImplService" targetNamespace="http://test1_server.mycompany.com/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://test1_server.mycompany.com/" elementFormDefault="unqualified" targetNamespace="http://test1_server.mycompany.com/" version="1.0">

  <xs:element name="getEvent" type="tns:getEvent"/>

  <xs:element name="getEventResponse" type="tns:getEventResponse"/>

  <xs:element name="getEvents" type="tns:getEvents"/>

  <xs:element name="getEventsResponse" type="tns:getEventsResponse"/>

  <xs:element name="getManager" type="tns:getManager"/>

  <xs:element name="getManagerResponse" type="tns:getManagerResponse"/>

  <xs:complexType name="getEvent">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getEventResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:Event"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Event">
    <xs:sequence>
      <xs:element minOccurs="0" name="date" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="id" type="xs:int"/>
      <xs:element minOccurs="0" name="managerID" type="xs:int"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getEvents">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getEventsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getManager">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getManagerResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:manager"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="manager">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element minOccurs="0" name="surname" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="getEventsResponse">
    <wsdl:part element="tns:getEventsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getManagerResponse">
    <wsdl:part element="tns:getManagerResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getEventResponse">
    <wsdl:part element="tns:getEventResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getEvent">
    <wsdl:part element="tns:getEvent" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getEvents">
    <wsdl:part element="tns:getEvents" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getManager">
    <wsdl:part element="tns:getManager" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="WSInterface">
    <wsdl:operation name="getEvent">
      <wsdl:input message="tns:getEvent" name="getEvent">
    </wsdl:input>
      <wsdl:output message="tns:getEventResponse" name="getEventResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEvents">
      <wsdl:input message="tns:getEvents" name="getEvents">
    </wsdl:input>
      <wsdl:output message="tns:getEventsResponse" name="getEventsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getManager">
      <wsdl:input message="tns:getManager" name="getManager">
    </wsdl:input>
      <wsdl:output message="tns:getManagerResponse" name="getManagerResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSImplServiceSoapBinding" type="tns:WSInterface">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getEvent">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getEvent">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getEventResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEvents">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getEvents">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getEventsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getManager">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getManager">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getManagerResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSImplService">
    <wsdl:port binding="tns:WSImplServiceSoapBinding" name="WSImplPort">
      <soap:address location="http://localhost:8080/WSInterface"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>