Practice/11-06-2019/11-06-2019_SOAP_Client/src/wsdl/localhost_8080/Exam-2019-06-11_SOAPWS/ProfessorManagement.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://_soap_server.mycompany.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="WSImplService" targetNamespace="http://_soap_server.mycompany.com/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://_soap_server.mycompany.com/" elementFormDefault="unqualified" targetNamespace="http://_soap_server.mycompany.com/" version="1.0">

  <xs:element name="getDetails" type="tns:getDetails"/>

  <xs:element name="getDetailsResponse" type="tns:getDetailsResponse"/>

  <xs:complexType name="getDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getDetailsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:professor"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="professor">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element minOccurs="0" name="surname" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="getDetailsResponse">
    <wsdl:part element="tns:getDetailsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDetails">
    <wsdl:part element="tns:getDetails" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="WSInterface">
    <wsdl:operation name="getDetails">
      <wsdl:input message="tns:getDetails" name="getDetails">
    </wsdl:input>
      <wsdl:output message="tns:getDetailsResponse" name="getDetailsResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSImplServiceSoapBinding" type="tns:WSInterface">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getDetails">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getDetails">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getDetailsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSImplService">
    <wsdl:port binding="tns:WSImplServiceSoapBinding" name="WSImplPort">
      <soap:address location="http://localhost:8080/Exam-2019-06-11_SOAPWS/ProfessorManagement"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>